.main-content-design{
    width: 75%;
    height: 600px;
    background-color: lightgray;
    margin: 10px;
    padding: 10px;
}
p{
    text-align: center;
}
a{
    padding: 0px 10px;
}
.nav-bar{
    margin-right: 40%;
   
}